<ion-header>
  <ion-toolbar>
    <ion-buttons class="ion-margin-start" slot="start">
      <ion-back-button
        color="dark"
        [text]="''"
        defaultHref="/main/home"
      ></ion-back-button>
    </ion-buttons>
    <ion-text class="ion-margin-start title-header">Lunch this week</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top" color="light">

  <ion-toolbar class="ion-text-center" color="light" *ngIf="!isLoading && menus.mon.length == 0 && menus.tue.length == 0 && menus.wed.length == 0 && menus.thu.length == 0 && menus.fri.length == 0">
    <ion-text color="darkgray">
      Doesn't have menu for this week yet
    </ion-text>
  </ion-toolbar>
  
  <!-- Monday -->
  <ion-list *ngIf="menus.mon.length != 0">
    <ion-list-header color="light" class="ion-padding-end">
      <ion-text class="ion-no-margin" style="font-family: helvetica !important;">
        Monday
      </ion-text>
    </ion-list-header>

    <ion-item class="ion-no-padding" *ngFor="let food of menus.mon">
      <div class="day-banner" style="background-color: rgb(255, 255, 128);"></div>
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <ion-img
              style="object-fit: cover; height: 80px;"
              [src]="food.imageUrl"
            ></ion-img>
          </ion-col>
          <ion-col size="8">
            <div class="ion-padding-start">
              <ion-text color="darkgray" class="menu-text"
                >{{ food.menuName }}</ion-text
              >
              <br />
              <ion-text color="gray" class="store-text"
                >{{ food.merchantName }}</ion-text
              >
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <!-- Tuesday -->
  <ion-list *ngIf="menus.tue.length != 0">
    <ion-list-header color="light" class="ion-padding-end">
      <ion-text class="ion-no-margin" style="font-family: helvetica !important;">
        Tueday
      </ion-text>
    </ion-list-header>

    <ion-item class="ion-no-padding" *ngFor="let food of menus.tue">
      <div class="day-banner" style="background-color: rgb(255, 168, 255);"></div>
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <ion-img
              style="object-fit: cover; height: 80px;"
              [src]="food.imageUrl"
            ></ion-img>
          </ion-col>
          <ion-col size="8">
            <div class="ion-padding-start">
              <ion-text color="darkgray" class="menu-text"
                >{{ food.menuName }}</ion-text
              >
              <br />
              <ion-text color="gray" class="store-text"
                >{{ food.merchantName }}</ion-text
              >
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <!-- Wednesday -->
  <ion-list *ngIf="menus.wed.length != 0">
    <ion-list-header color="light" class="ion-padding-end">
      <ion-text class="ion-no-margin" style="font-family: helvetica !important;">
        Wednesday
      </ion-text>
    </ion-list-header>

    <ion-item class="ion-no-padding" *ngFor="let food of menus.wed">
      <div class="day-banner" style="background-color: rgb(128, 255, 177);"></div>
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <ion-img
              style="object-fit: cover; height: 80px;"
              [src]="food.imageUrl"
            ></ion-img>
          </ion-col>
          <ion-col size="8">
            <div class="ion-padding-start">
              <ion-text color="darkgray" class="menu-text"
                >{{ food.menuName }}</ion-text
              >
              <br />
              <ion-text color="gray" class="store-text"
                >{{ food.merchantName }}</ion-text
              >
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <!-- Thursday -->
  <ion-list *ngIf="menus.thu.length != 0">
    <ion-list-header color="light" class="ion-padding-end">
      <ion-text class="ion-no-margin" style="font-family: helvetica !important;">
        Thursday
      </ion-text>
    </ion-list-header>

    <ion-item class="ion-no-padding" *ngFor="let food of menus.thu">
      <div class="day-banner" style="background-color: rgb(255, 185, 128);"></div>
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <ion-img
              style="object-fit: cover; height: 80px;"
              [src]="food.imageUrl"
            ></ion-img>
          </ion-col>
          <ion-col size="8">
            <div class="ion-padding-start">
              <ion-text color="darkgray" class="menu-text"
                >{{ food.menuName }}</ion-text
              >
              <br />
              <ion-text color="gray" class="store-text"
                >{{ food.merchantName }}</ion-text
              >
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <!-- Friday -->
  <ion-list *ngIf="menus.fri.length != 0">
    <ion-list-header color="light" class="ion-padding-end">
      <ion-text class="ion-no-margin" style="font-family: helvetica !important;">
        Friday
      </ion-text>
    </ion-list-header>

    <ion-item class="ion-no-padding" *ngFor="let food of menus.fri">
      <div class="day-banner" style="background-color: rgb(166, 207, 255);"></div>
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <ion-img
              style="object-fit: cover; height: 80px;"
              [src]="food.imageUrl"
            ></ion-img>
          </ion-col>
          <ion-col size="8">
            <div class="ion-padding-start">
              <ion-text color="darkgray" class="menu-text"
                >{{ food.menuName }}</ion-text
              >
              <br />
              <ion-text color="gray" class="store-text"
                >{{ food.merchantName }}</ion-text
              >
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
