@import "../../app.component.scss";

ion-list-header {
  color: #676767;
  font-weight: 700;
  font-size: 12pt;
  letter-spacing: normal;
  font-family: helvetica !important;
  text-transform: none;
}

ion-list {
  margin-bottom: 12px;
}

.day-banner {
  width: 4px;
  height: 100%;
}