<ion-header>
  <ion-toolbar>
    <ion-buttons class="ion-margin-start" slot="start">
      <ion-back-button
        color="dark"
        [text]="''"
        defaultHref="/main/home"
      ></ion-back-button>
    </ion-buttons>
    <p class="ion-margin-start title-header">Lunch this week</p>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top" color="light">

  <!-- Monday -->
  <ion-list *ngIf="menus.mon.length != 0">
    <ion-list-header color="light" class="ion-padding-end">
        <p class="ion-no-margin" style="font-family: helvetica !important;">Monday</p>
    </ion-list-header>

    <ion-item *ngFor="let food of menus.mon">
      <ion-img
        style="width: 100px; height: 60px;"
        [src]="food.foodMenuItem.imgUrl"
      ></ion-img>
      <div class="ion-margin">
        <p class="menu-text">{{ food.foodMenuItem.name }}</p>
        <p class="store-text">{{ food.foodMenuItem.restaurantName }}</p>
      </div>
    </ion-item>
  </ion-list>

  <!-- Tuesday -->
  <ion-list *ngIf="menus.tue.length != 0">
    <ion-list-header color="light" class="ion-padding-end">
        <p class="ion-no-margin" style="font-family: helvetica !important;">Tuesday</p>
    </ion-list-header>

    <ion-item *ngFor="let food of menus.tue">
      <ion-img
        style="width: 100px; height: 60px;"
        [src]="food.foodMenuItem.imgUrl"
      ></ion-img>
      <div class="ion-margin">
        <p class="menu-text">{{ food.foodMenuItem.name }}</p>
        <p class="store-text">{{ food.foodMenuItem.restaurantName }}</p>
      </div>
    </ion-item>
  </ion-list>

  <!-- Wednesday -->
  <ion-list *ngIf="menus.wed.length != 0">
    <ion-list-header color="light" class="ion-padding-end">
      <p class="ion-no-margin" style="font-family: helvetica !important;">Wednesday</p>
    </ion-list-header>

    <ion-item *ngFor="let food of menus.wed">
      <ion-img
        style="width: 100px; height: 60px;"
        [src]="food.foodMenuItem.imgUrl"
      ></ion-img>
      <div class="ion-margin">
        <p class="menu-text">{{ food.foodMenuItem.name }}</p>
        <p class="store-text">{{ food.foodMenuItem.restaurantName }}</p>
      </div>
    </ion-item>
  </ion-list>

  <!-- Thursday -->
  <ion-list *ngIf="menus.thu.length != 0">
    <ion-list-header color="light" class="ion-padding-end">
        <p class="ion-no-margin" style="font-family: helvetica !important;">Thursday</p>
    </ion-list-header>

    <ion-item *ngFor="let food of menus.thu">
      <ion-img
        style="width: 100px; height: 60px;"
        [src]="food.foodMenuItem.imgUrl"
      ></ion-img>
      <div class="ion-margin">
        <p class="menu-text">{{ food.foodMenuItem.name }}</p>
        <p class="store-text">{{ food.foodMenuItem.restaurantName }}</p>
      </div>
    </ion-item>
  </ion-list>

  <!-- Friday -->
  <ion-list *ngIf="menus.fri.length != 0">
    <ion-list-header color="light" class="ion-padding-end">
        <p class="ion-no-margin" style="font-family: helvetica !important;">Friday</p>
    </ion-list-header>

    <ion-item *ngFor="let food of menus.fri">
      <ion-img
        style="width: 100px; height: 60px;"
        [src]="food.foodMenuItem.imgUrl"
      ></ion-img>
      <div class="ion-margin">
        <p class="menu-text">{{ food.foodMenuItem.name }}</p>
        <p class="store-text">{{ food.foodMenuItem.restaurantName }}</p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
