<ion-content color="primary" class="ion-padding">
  <ion-grid style="height: 100%;">
    <ion-row class="ion-align-items-center" style="width: 100%; height: 50%;">
      <ion-col
        class="ion-justify-content-center ion-text-center"
        style="width: 100%;"
      >
        <h1 class="ion-align-self-center">SEC Kin Kao</h1>
      </ion-col>
    </ion-row>
    <ion-row style="width: 100%; height: 50%;">
      <ion-col
        class="ion-padding ion-justify-content-center ion-text-cetner"
        style="width: 100%;"
      >
        <form
          [formGroup]="credentialsForm"
          class="ion-align-items-center ion-text-center"
          (ngSubmit)="onClickLogin()"
        >
          <ion-input
            formControlName="username"
            placeholder="Username"
            type="text"
          ></ion-input>
          <ion-input
            formControlName="password"
            class="ion-margin-top"
            placeholder="Password"
            type="password"
          ></ion-input>
          <ion-button
            color="light"
            [disabled]="!credentialsForm.valid"
            class="ion-margin-top"
            shape="round"
            type="submit"
            >Login</ion-button
          >
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-text-center">
  <p (click)="onClickRegister()">Create an account.</p>
</ion-footer>
