<ion-header no-border class="header-container">
  <ion-toolbar class="ion-margin-top" style="height: 100%">
    <ion-buttons style="position: absolute; top: 16px; left: 16px;" class="ion-margin-start" slot="start">
      <ion-back-button
        color="gprimary"
        [text]="''"
        defaultHref="/main/home"
      ></ion-back-button>
    </ion-buttons>
    <p class="ion-margin-top" class="title-text">Register</p>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid style="height: 100%;">
    <ion-row style="height: 100%;" class="ion-align-items-center">
      <ion-col style="height: 100%;" class="ion-justify-content-center">
        <form class="ion-padding">
          <ion-list>
            <ion-item>
              <ion-label position="stacked"><ion-text color="gprimary">Email</ion-text></ion-label>
              <ion-input inputmode="email" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked"><ion-text color="gprimary">Password</ion-text></ion-label>
              <ion-input inputmode="password" type="password"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked"><ion-text color="gprimary">Confirm password</ion-text></ion-label>
              <ion-input inputmode="password" type="password"></ion-input>
            </ion-item>
          </ion-list>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
