<ion-header>
    <ion-toolbar>
      <ion-buttons class="ion-margin-start" slot="start">
        <ion-back-button color="dark" [text]="''" defaultHref="/main/home"></ion-back-button>
      </ion-buttons>
      <p class="ion-margin-start">Punsuk this week</p>
    </ion-toolbar>
  </ion-header>

<ion-content color="light">
  <ion-list>
    <ion-list-header color="light" class="ion-padding-end">
      <p>10 January 2020</p>
      <span style="display: inline-block; vertical-align: middle;">
        <p class="time-header">
          <ion-icon class="icon" name="md-time"></ion-icon> 3 days left
        </p>
      </span>
    </ion-list-header>

    <ion-item>
      <ion-img
        style="width: 100px; height: 60px;"
        [src]="'../../../assets/images/chihuahua.jpg'"
      ></ion-img>
      <div class="ion-margin">
        <p class="menu-text">Menu name</p>
        <p class="store-text">Store name</p>
      </div>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header color="light" class="ion-padding-end">
      <p>11 January 2020</p>
      <span style="display: inline-block; vertical-align: middle;">
        <p class="time-header">
          <ion-icon class="icon" name="md-time"></ion-icon> 1 day left
        </p>
      </span>
    </ion-list-header>

    <ion-item>
      <ion-img
        style="width: 100px; height: 60px;"
        [src]="'../../../assets/images/chihuahua.jpg'"
      ></ion-img>
      <div class="ion-margin">
        <p class="menu-text">Menu name</p>
        <p class="store-text">Store name</p>
      </div>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header color="light" class="ion-padding-end">
      <p>13 January 2020</p>
      <span style="display: inline-block; vertical-align: middle;">
        <p class="time-header">
          <ion-icon class="icon" name="md-time"></ion-icon> 3 days left
        </p>
      </span>
    </ion-list-header>

    <ion-item>
      <ion-img
        style="width: 100px; height: 60px;"
        [src]="'../../../assets/images/chihuahua.jpg'"
      ></ion-img>
      <div class="ion-margin">
        <p class="menu-text">Menu name</p>
        <p class="store-text">Store name</p>
      </div>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header color="light" class="ion-padding-end">
      <p>19 January 2020</p>
      <span style="display: inline-block; vertical-align: middle;">
        <p class="time-header">
          <ion-icon class="icon" name="md-time"></ion-icon> 3 days left
        </p>
      </span>
    </ion-list-header>

    <ion-item>
      <ion-img
        style="width: 100px; height: 60px;"
        [src]="'../../../assets/images/chihuahua.jpg'"
      ></ion-img>
      <div class="ion-margin">
        <p class="menu-text">Menu name</p>
        <p class="store-text">Store name</p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
