<div class="container ion-padding">
    <ion-img class="ion-margin-top ion-margin-bottom" style="margin-left: auto; margin-right: auto; width: 48px; height: 48px;" [src]="'../../../../../assets/images/confirm.png'"></ion-img>
    <p class="ion-margin ion-text-center confirm-text">Confirm order and send to the merchant</p>
    <div class="ion-margin-top ion-margin-bottom" style="margin-left: auto; margin-right: auto; text-align: center;">
      <ion-button (click)="order()" class="ion-margin-top ion-margin-end" color="gprimary">Order Now!</ion-button>
      <ion-button (click)="cancel()" class="ion-margin-top ion-margin-start" color="lightgray">Cancel</ion-button>
    </div>
</div>