<ion-header>
    <ion-toolbar>
      <ion-buttons class="ion-margin-start" slot="start">
        <ion-back-button color="dark" [text]="''" defaultHref="/main/home"></ion-back-button>
      </ion-buttons>
      <p class="ion-margin-start title-header">Punsuk</p>
    </ion-toolbar>
  </ion-header>
  
  <ion-content color="light" class="ion-padding-top">
    <ion-list class="ion-padding-bottom">
      <ion-list-header class="ion-padding-end">
        <p>คุณซัน</p>
      </ion-list-header>
  
      <ion-item class="ion-padding-end">
        <ion-img
          class="ion-margin-top ion-margin-bottom"
          style="width: 100px; height: 60px;"
          [src]="'../../../assets/images/chihuahua.jpg'"
        ></ion-img>
        <div class="ion-margin-start">
          <p class="menu-text">สุนัขยิ้ม</p>
        </div>
        <div slot="end">
          <p class="price-text">1200</p>
        </div>
      </ion-item>
  
      <ion-item class="ion-padding-end">
        <ion-img
          class="ion-margin-top ion-margin-bottom"
          style="width: 100px; height: 60px;"
          [src]="'../../../assets/images/chihuahua.jpg'"
        ></ion-img>
        <div class="ion-margin-start">
          <p class="menu-text">สุนัขยิ้ม</p>
        </div>
        <div slot="end">
          <p class="price-text">1200</p>
        </div>
      </ion-item>
    </ion-list>
  
    <ion-list class="ion-padding-bottom">
      <ion-list-header class="ion-padding-end">
        <p>ลุงธี</p>
      </ion-list-header>
  
      <ion-item class="ion-padding-end">
        <ion-img
          class="ion-margin-top ion-margin-bottom"
          style="width: 100px; height: 60px;"
          [src]="'../../../assets/images/chihuahua.jpg'"
        ></ion-img>
        <div class="ion-margin-start">
          <p class="menu-text">สุนัขยิ้ม</p>
        </div>
        <div slot="end">
          <p class="price-text">1200</p>
        </div>
      </ion-item>
  
      <ion-item class="ion-padding-end">
        <ion-img
          class="ion-margin-top ion-margin-bottom"
          style="width: 100px; height: 60px;"
          [src]="'../../../assets/images/chihuahua.jpg'"
        ></ion-img>
        <div class="ion-margin-start">
          <p class="menu-text">สุนัขยิ้ม</p>
        </div>
        <div slot="end">
          <p class="price-text">1200</p>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  