:root {
  --ion-font-family: "Helvetica";
}

.back-icon {
  font-size: 18pt;
}

.title-header {
  text-align: left;
  font-family: helvetica !important;
  font-weight: 400;
}

.menu-text {
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px;
}

.store-text {
  margin-top: 8px;
  font-weight: 400;
  font-size: 10pt;
}

ion-item:last-child {
  --inner-border-width: 0;
}

.ion-color-gprimary {
  --ion-color-base: #10a19b;
  --ion-color-base-rgb: 56, 128, 255;
  --ion-color-contrast: #fff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #0d8d89;
  --ion-color-tint: #47b3af;
}

.ion-color-darkgray {
  --ion-color-base: #676767;
  --ion-color-base-rgb: 56, 128, 255;
  --ion-color-contrast: #fff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #303030;
  --ion-color-tint: #999999;
}

.ion-color-lightgray {
  --ion-color-base: #b7b7b7;
  --ion-color-base-rgb: 56, 128, 255;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #d8d8d8;
  --ion-color-tint: #999999;
}
