<ion-header>
  <ion-toolbar>
    <ion-buttons class="ion-margin-start" slot="start">
      <ion-icon
        class="back-icon"
        (click)="cancelModal()"
        name="ios-close-circle"
      ></ion-icon>
    </ion-buttons>
    <p class="ion-margin-start header">{{ basket.merchantName }}</p>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-list class="ion-padding-bottom ion-margin-top">
    <ion-list-header>
      <p style="font-family: helvetica !important;" class="ion-no-margin">
        Order
      </p>
    </ion-list-header>

    <ion-item-sliding *ngFor="let item of basket.items; let i=index">
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col style="height: 100%;" size="4">
              <ion-img
                class="ion-margin-top ion-margin-bottom"
                style="object-fit: cover; height: 80px;"
                [src]="item.imageUrl"
              ></ion-img>
            </ion-col>
            <ion-col class="ion-padding-start" size="4">
              <ion-text class="menu-text">{{ item.foodName }}</ion-text>
              <br />
              <ion-text
                *ngFor="let option of item.options"
                class="describe-text"
                >{{ option }}<br
              /></ion-text>
            </ion-col>
            <ion-col size="1.5" class="ion-text-right">
              <ion-text class="multipler-text"
                >{{ item.numberOfItem }}x</ion-text
              >
            </ion-col>
            <ion-col size="1.5" class="ion-text-right">
              <ion-text style="font-weight: 700;" class="price-text"
                >{{ item.numberOfItem * item.price }}</ion-text
              >
              <!-- <ion-button
                style="position: absolute; right: 0; bottom: 0;"
                color="lightgray"
                size="small"
                class="edit-button"
              >
                edit
              </ion-button> -->
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="brownred" (click)="removeItem(i)">
          <ion-icon slot="icon-only" name="ios-trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <p style="font-family: helvetica !important;" class="ion-no-margin">
        Payment method
      </p>
    </ion-list-header>

    <ion-item class="ion-margin-bottom">
      <ion-text
        class="ion-no-padding ion-no-margin"
        slot="start"
        style="font-size: 10pt; color: #676767; padding-left: 8px;"
      >
        {{ basket.paymentMethod }}
      </ion-text>
      <br />
      <ion-button
        [disabled]="true"
        slot="end"
        color="lightgray"
        size="small"
        class="edit-button"
        >Change</ion-button
      >
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer no-border class="footer-container">
  <ion-grid
    class="ion-no-padding"
    style="float: left; width: 100%; height: 56px;"
  >
    <ion-row
      style="width: 100%; height: 56px;"
      class="ion-no-padding ion-align-items-center"
    >
      <ion-col class="ion-padding-end" class="ion-text-right">
        <span style="vertical-align: middle; display: inline-block">
          <p
            style="color: #676767; font-size: 12px; display: inline; vertical-align: middle;"
          >
            total
          </p>
          <p
            style="color: #10a19b; display: inline; vertical-align: middle;"
            class="ion-padding-start ion-padding-end total-price-text"
          >
            {{ totalPrice }}
          </p>
        </span>
      </ion-col>
      <ion-col class="ion-padding-end ion-justify-content-center">
        <ion-button (click)="orderNow()" color="gprimary" class="footer-button"
          >Order now</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
