<ion-content>
  <div style="position: absolute; width: 100%; height: 100%;">
    <div
      style="background-image: linear-gradient(#40B8AD, #4BDB9D); width: 100%; height: 35%;"
    >
      <ion-grid style="height: 100%;">
        <ion-row class="ion-align-items-center" style="height: 80%;">
          <ion-col class="ion-text-center ion-justify-content-center">
            <h3 style="color: white; font-size: 15px;">
              Hello, {{ username }}
            </h3>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div style="background-color: white;">
      <div class="container">
        <ion-card
          class="ion-margin"
          style="border-radius: 18px; top: -72px; height: 100px;"
        >
          <ion-card-content class="ion-no-padding">
            <ion-grid class="ion-no-padding">
              <ion-row>
                <ion-col
                  class="ion-text-center"
                  style="border-right: 1px solid #EBEBEB; height: 100%;"
                >
                  <div class="ion-margin" (click)="goToFood()">
                    <ion-img
                      class="two-menu-img"
                      [src]="'../../../assets/images/groceries.png'"
                    ></ion-img>
                    <ion-label
                      class="ion-margin-bottom"
                      color="darkgray"
                      style="font-weight: bolder;"
                      >Food</ion-label
                    >
                  </div>
                </ion-col>
                <ion-col class="ion-text-center">
                  <div class="ion-margin" (click)="onPressCoEating()">
                    <ion-img
                      class="two-menu-img"
                      [src]="'../../../assets/images/business-and-finance.png'"
                    ></ion-img>
                    <ion-label
                      class="ion-margin-bottom"
                      color="darkgray"
                      style="font-weight: bolder;"
                      >Co-eating</ion-label
                    >
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </div>

      <div class="container">
        <h6 class="margin-top-negative ion-margin this-week-header">
          Lunch this week
        </h6>
        <ion-card
          class="this-week-card ion-no-padding"
          (click)="goToLunchThisWeek()"
        >
          <ion-card-content class="ion-no-padding">
            <div scrollX="true" class="scroll">
              <ion-card
                *ngIf="lunchThisWeekImg.length == 0"
                class="ion-no-padding ion-no-margin scroll-item"
              >
                <ion-card-content class="ion-no-padding" style="height: 100%;">
                  <ion-img class="scroll-img" [src]="'../../../assets/images/hamburger.jpg'"></ion-img>
                </ion-card-content>
              </ion-card>
              <ion-card
                *ngFor="let imageUrl of lunchThisWeekImg"
                class="ion-no-padding ion-no-margin scroll-item"
              >
                <ion-card-content class="ion-no-padding" style="height: 100%;">
                  <ion-img class="scroll-img" [src]="imageUrl"></ion-img>
                </ion-card-content>
              </ion-card>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
