@import '../../app.component.scss';

.menu-text {
    font-family: helvetica;
    font-size: 10pt;
    font-weight: 700;
}

.price-text {
    font-family: Helvetica;
}

ion-item {
    --inner-border-width: 0 0 0.1px 0 ;
}

ion-list-header {
    font-weight: 700;
    font-size: 12pt;
    letter-spacing: normal;
    font-family: helvetica !important;
    text-transform: none;
  }