@import '../../app.component.scss';

.menu-text {
    font-family: helvetica;
    margin-top: 0px;
    font-size: 10pt;
    font-weight: 700;
}

.price-text {
    font-family: Helvetica;
    float: right;
}