<ion-content force-overscroll="false" has-bouncing="true" color="whitegray">
  <div style="height: 35%;">
    <ion-icon
      class="back-icon"
      (click)="cancelModal()"
      name="ios-close-circle"
    ></ion-icon>
    <ion-img style="object-fit:cover; width: auto; height: 100%;" [src]="'../../../../assets/images/hamburger.jpg'"></ion-img>
  </div>
  <ion-grid class="ion-padding-start container">
    <ion-row style="height: 100%;" class="ion-align-items-center">
      <ion-col size="12" class="ion-padding-start ion-padding-end">
        <ion-text color="darkgray" class="food-text">หมายิ้ม - ลุงธี</ion-text>
        <ion-text style="float: right;" color="darkgray" class="price-text">65</ion-text><br>
        <ion-text color="darkgray" class="describe-text">เป็นหมาที่มีความสุขที่สุดในโลก</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-radio-group>
      <ion-list-header>
        เพิ่มเครื่อง
      </ion-list-header>

      <ion-item>
        <ion-radio
          color="gprimary"
          mode="md"
          slot="start"
          value="smiling"
        ></ion-radio>
        <ion-label
          style="white-space: normal; overflow: visible; font-size: 10pt; width: 70%;"
          >ยิ้มแบบมีความสุขที่สุดในโลก</ion-label
        >
        <p class="ion-padding-end addition-price-text">+10</p>
      </ion-item>

      <ion-item>
        <ion-radio
          color="gprimary"
          mode="md"
          slot="start"
          value="evil_smiling"
        ></ion-radio>
        <ion-label
          style="white-space: normal; overflow: visible; font-size: 10pt; width: 70%;"
          >ยิ้มแบบมีเลศนัย</ion-label
        >
        <p class="ion-padding-end addition-price-text">+3</p>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-list>
    <ion-radio-group>
      <ion-list-header>
        เลือกชนิด
      </ion-list-header>

      <ion-item>
        <ion-checkbox
          color="gprimary"
          mode="md"
          slot="start"
          value="smiling"
        ></ion-checkbox>
        <ion-label
          style="white-space: normal; overflow: visible; font-size: 10pt; width: 70%;"
          >ยิ้มแบบมีความสุขที่สุดในโลก</ion-label
        >
        <p class="ion-padding-end addition-price-text">+10</p>
      </ion-item>

      <ion-item>
        <ion-checkbox
          color="gprimary"
          mode="md"
          slot="start"
          value="evil_smiling"
        ></ion-checkbox>
        <ion-label
          style="white-space: normal; overflow: visible; font-size: 10pt; width: 70%;"
          >ยิ้มแบบมีเลศนัย</ion-label
        >
        <p class="ion-padding-end addition-price-text">+3</p>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-grid class="ion-padding ion-text-center number-container">
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-right" size="4">
        <ion-icon
          (click)="updateNumber(-1)"
          color="lightgray"
          class="icon"
          name="remove-circle"
          style="font-size: 20pt;"
        ></ion-icon>
      </ion-col>
      <ion-col size="4">
        <ion-text>{{ totalNumber }}</ion-text>
      </ion-col>
      <ion-col class="ion-text-left" size="4">
        <ion-icon
          (click)="updateNumber(1)"
          color="lightgray"
          class="icon"
          name="add-circle"
          style="font-size: 20pt;"
        ></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="ion-padding addition-container">
    <form>
      <ion-label>เพิ่มเติม</ion-label>
      <ion-textarea
        class="ion-margin-top ion-margin-bottom"
        type="text"
        autoGrow="true"
        scroll="false"
      ></ion-textarea>
    </form>
  </div>
</ion-content>

<ion-footer no-border class="footer-container">
  <ion-grid
    class="ion-no-padding"
    style="float: left; width: 100%; height: 56px;"
  >
    <ion-row
      style="width: 100%; height: 56px;"
      class="ion-no-padding ion-align-items-center"
    >
      <ion-col size="3" class="ion-padding-end ion-text-right">
        <ion-text color="darkgray" style="font-size: 12px;">
          total
        </ion-text>
      </ion-col>
      <ion-col size="3" class="ion-padding-end ion-text-right">
          <ion-text class="total-price-text">
            {{ totalPrice }}
        </ion-text>

      </ion-col>
      <ion-col size="6" class="ion-padding-end ion-justify-content-center">
        <ion-button (click)="addToBasket()" color="gprimary" class="footer-button"
          >Add to basket</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
